<p id="notice"><%= notice %></p>

<h1>Organsmasher's Anonymous Posts</h1>

<!-- <p>Display random gif from Giphy API</p> -->
<!-- <img src="<%=@url%>" alt=""> -->

<h4>Leave me a post...</h4>

<table>
  <thead>
    <tr>
      <th>Gif URL</th>
      <th>Text</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><a href = "<%= post.title %>"><%= post.title %></a></td>
        <td><%= post.text %></td>
        <td><%= post.name %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path, :class => 'myButton' %>
